*{
     font-family: "Poppins", sans-serif;
}

.font-bangla {
     font-family: "Hind Siliguri", sans-serif;
}

.text-col1{
     color: #18181B;
}

.text-col2{
     color: #422AD5;
}

.text-col3{
     color: #00BCFF;
}

.active{
     background-color: #422AD5;
     color: white;
}
